<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/statics/style.css">
    <link rel="alternate" type="application/rss+xml" title="{{ config.site.title }}" href="/rss.xml" />
    <title>{{ article.meta.title }}</title>
</head>

<body>


    <section class="full-page">
        <section class="container">
            <nav>
                <a href="/">HOMEPAGE</a>
                {% if config.pages %}
                {% for page in config.pages %}
                <a href="{{ page.meta.url }}">{{ page.nav_title}}</a>
                {% endfor %}
                {% endif %}
            </nav>
            <section class="single article">
                <p class="mate">April 18, 2015</p>
                <h2>新的博客</h2>
                <section class="content yue">
                    {{ article.content.html | safe }}
                </section>
            </section>
        </section>
    </section>


    <footer>
        <section class="container">
            <p> 自豪地使用 <a href="https://github.com/Kilerd/rubble">Project Rubble</a> 运行。 </p>
            <div style="display:none">
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68997851-1"></script>
                <script>   window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-68997851-1'); </script>
            </div>
        </section>
    </footer>
    <script src="/statics/prism.js" type="text/javascript"></script>
</body>

</html>