
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="{{ config.site.keywords | join(sep=', ')}}" />
    <link rel="stylesheet" href="/statics/style.css">
    <link rel="alternate" type="application/rss+xml" title="{{ config.site.title }}" href="/rss.xml" />
    <title>{{ config.site.title }}</title>
</head>
<body>

<section class="full-page">
    <header>
        <section class="container">
            <h1>{{ config.site.title }}</h1>
            <p>{{ config.site.description }}</p>
            <nav>
                {% for page in pages | filter(attribute="data.page", value=true) | sort(attribute="datetime") | reverse %}
                <a href="/{{ page.url }}">{{ page.title}}</a>
                {% endfor %}
                
            </nav>
        </section>
    </header>

    <section class="container">
        
        {% for one_page in pages | not_field(attribute="data.page") %}
        <section class="article">
            <p class="mate">{{ one_page.datetime | date(format="%B %d, %Y") }}</p>
            <a class="title"
               href="/{{ one_page.url }}">{{ one_page.title }}</a>
            {% if one_page.description %}
            <section class="yue desc">
                {{ one_page.description.html | safe }}
            </section>
            {% endif %}
        </section>
        {% endfor %}
    </section>
</section>



<footer>
    <section class="container">
    <p> 自豪地使用 <a href="https://github.com/Kilerd/staple">Project Staple</a> 运行。 </p>
    <div style="display:none">{{ config.extra.ga | safe }}</div>
    </section>
</footer>
<script src="/statics/prism.js" type="text/javascript"></script>
{{ develop.live_reload | safe }}
</body>
</html>