---
import { siteConfig } from '../lib/site'

const gitalkEnabled =
  siteConfig.gitalk.clientId &&
  siteConfig.gitalk.clientSecret &&
  siteConfig.gitalk.repo &&
  siteConfig.gitalk.owner &&
  siteConfig.gitalk.admin.length > 0

const gitalkConfig = JSON.stringify({
  clientID: siteConfig.gitalk.clientId,
  clientSecret: siteConfig.gitalk.clientSecret,
  repo: siteConfig.gitalk.repo,
  owner: siteConfig.gitalk.owner,
  admin: siteConfig.gitalk.admin,
  distractionFreeMode: false
})
---

{gitalkEnabled && (
  <>
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css" />
    <script is:inline src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <div id="gitalk-container"></div>
    <script is:inline define:vars={{ gitalkConfig }}>
      function normalizePath(pathname) {
        const trimmed = pathname.replace(/\/+$/, '')
        return trimmed === '' ? '/' : trimmed
      }

      function hashPath(pathname) {
        let hash = 5381

        for (const char of pathname) {
          hash = (hash * 33) ^ char.charCodeAt(0)
        }

        return (hash >>> 0).toString(16)
      }

      function createIssueId(pathname) {
        const normalized = normalizePath(pathname)

        if (normalized.length <= 50) {
          return normalized
        }

        const prefix = normalized.slice(0, 36).replace(/[^a-zA-Z0-9/_-]/g, '-')
        return `${prefix}-${hashPath(normalized)}`.slice(0, 50)
      }

      const parsedConfig = JSON.parse(gitalkConfig)
      const gitalk = new Gitalk({
        ...parsedConfig,
        id: createIssueId(location.pathname)
      })
      gitalk.render('gitalk-container')
    </script>
  </>
)}
